<%- include('header') -%>
        


    <div class="jumbotron">
        <h1 align="center"> KIT MÉDICO</h1>

        
        <table width =100% height = 100% cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        </br>
                        <img src="s_temperatura.jpg" width="250" height="250">
                    </td>
                    <td>
                        <h2>SENSOR DE TEMPERATURA MLX90614</h2></br>
                        <ul>
                            <li class="esp">Voltaje de Operación: 5V</li>
                            <li class="esp">Rango de temperatura ambiente de trabajo:  -40℃ hasta +170℃</li>
                            <li class="esp">Rango de temperatura de objeto: -70℃ hasta +380℃</li>
                            <li class="esp">Precisión: ±0.5°C</li>
                            <li class="esp">ADC incorporado de 17 bits</li>
                            <li class="esp">Protocolo de comunicación SMBUS (I2C)</li>
                            <li class="esp">No necesita componentes adicionales</li>

                        </ul>
                    
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        </br>
                        <img src="sensor-de-pulso-fotoelectrico.jpg" width="250" height="250">
                    </td>
                    <td>
                        </br>
                        <h2>SENSOR DE PULSO FOTOELÉCTRICO APDS-9008</h2></br>
                        <ul>
                            <li class="esp">Voltaje de Operación: 3.0V – 5.5V DC</li>
                            <li class="esp">Consumo corriente: 20mA máx.</li>
                            <li class="esp">Sensor: APDS-9008</li>
                            <li class="esp">Opamp: MCP6001</li>
                            <li class="esp">Led verde</li>
                            <li class="esp">Longitud de cable: 20cm</li>
                            <li class="esp">Cables: GND, VCC, Señal</li>

                        </ul>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="pulsioximetro-max30102.jpg" width="250" height="250">
                    </td>
                    <td>
                        </br>
                        </br>
                        <h2>PULSIOXÍMETRO MAX30102</h2>
                        <ul>
                            <li>Voltaje de Operación: 5V DC</li>
                            <li>Regulador de voltaje de 3.3V y 1.8V en placa</li>
                            <li>Protocolo de comunicación: I2C (compatible con 5v y 3.3v)</li>
                            <li>Sensor: MAX30102 (Maxim Integrated)</li>
                            <li>Led rojo de 660nm</li>
                            <li>Led infrarrojo de 880nm</li>
                            <li>Filtro de luz entre 50 y 60Hz</li>
                            <li>ADC delta sigma de hasta 16 bits</li>
                            <li>Temperatura de trabajo: -40°C hasta +85°C</li>
                            <li>Dimensiones: 14mm x 17mm</li>
                            </ul>
                        
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

<%- include('footer') -%>