
    <%- include('header') -%>
    

    <form action="/reg_paciente" method="POST">
        <img src="/paciente.png" align="right" width="150" height="150" >
        <div class="jumbotron">
            <h1>Bienvenido paciente</h1>
            <h3>Ingrese sus datos para el registro</h3>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres_pa">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" name="apellidos_pa">
                  </div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email_pa">
                </div>
                <div class="form-group col-md-6">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" name="password_pa">
                </div>
                <div class="form-group col-md-6">
                    <label for="celular">Número de celular</label>
                    <input type="number" class="form-control" name="celular_pa">
                </div>
                  <div class="form-group col-md-6">
                    <label for="edad">Edad</label>
                    <input type="number" class="form-control" name="edad_pa">
                </div>
              </div>
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" name="direccion_pa" placeholder="San Andres #144">
              </div>
              <div class="form-group">
                <label for="centro">Centro de Salud más cercano</label>
                <input type="text" class="form-control" name="centro_pa" placeholder="Hospital Regional,etc">
              </div>
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" name="departamento_pa" placeholder="La libertad,etc">
              </div>
              <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" name="ciudad_pa" >
              </div>
              <div class="form-group">
                <label for="dni">DNI</label>
                <input type="number" class="form-control" name="dni_pa" >
              </div>
              
                
              
              <button type="submit" class="btn btn-primary">Registrarse</button>
        
    </form>
          
    <!--<input type="text" name="nombre" placeholder="Nombres"> 
    <input type="text" name="apellido" placeholder="Apellidos"> 
    <input type="number" name="edad" placeholder="Edad"> 
    <input type="number" name="dni" placeholder="DNI"> 
    <input type="tel" name="celular" placeholder="Número de celular"> 
    <input type="email" name="email" placeholder="Correo electrónico">
    <button type="submit"> Enviar </button>    
    
    <%- include('footer') -%>