<%- include('header') -%>
    <form action="/reg_medico" method="POST">
        <img src="/medico_clean.png" align="right" width="150" height="150" >
        <div class="jumbotron">
            <h1>Bienvenido médico asociado</h1>
            <h3>Ingrese sus datos para el registro</h3>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres_med">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Apellidos</label>
                    <input type="text" class="form-control" name="apellidos_med">
                  </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" name="email_med">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Contraseña</label>
                  <input type="password" class="form-control" name="password_med">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Número de celular</label>
                    <input type="number" class="form-control" name="celular_med">
                </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Edad</label>
                    <input type="number" class="form-control" name="edad_med">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Número de colegiatura</label>
                    <input type="number" class="form-control" name="colegiatura">
                </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Especialidad Médica</label>
                    <input type="text" class="form-control" name="especialidad">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Dirección</label>
                <input type="text" class="form-control" name="direccion_med" placeholder="San Andres #144">
              </div>
              
              <div class="form-group">
                <label for="centro">Centro de Salud </label>
                <input type="text" class="form-control" name="centro_med" placeholder="Hospital Regional,etc">
              </div>
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" name="departamento_med" placeholder="La libertad,etc">
              </div>
              <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" name="ciudad_med" >
              </div>
              <div class="form-group">
                <label for="dni">DNI</label>
                <input type="number" class="form-control" name="dni_med" >
              </div>
              
                
              
              <button type="submit" class="btn btn-primary">Registrarse</button>
        
        </div>
<%- include('footer') -%>        